:root {
    font-size : 16px;
    --dsp-flex : flex;
    --dsp-grid : grid;
    --txt-alin : center;
    --txt-dec : none;
    --alin-items : center;
    --clr-black : rgba(0, 0, 0, 0.76);
    --clr-white : white;
    --bg-color : rgba(36, 34, 34, 0.534);
    --lst-style : none;
    --bx-shadow : 2px 2px 4px var(--clr-black);

}
body, html {
    margin: 0;
    padding: 0;
}
header nav {
    display: var(--dsp-flex);
    flex-direction: column;
    justify-content: space-between;
    align-items: var(--alin-items);
    h1{
        color: var(--clr-white);
        background-color: rgba(24, 22, 22, 0.733);
        width: 100%;
        text-align: var(--txt-alin);
        margin: 0;
        padding: 20px;
    }
    ul {
        list-style : none;
        display: var(--dsp-flex);
        justify-content: center;
        gap : 1rem;
        background-color: rgba(44, 43, 43, 0.904);
        margin: 0;
        padding: 0.2rem;
        width: 100%;
        li a {
            text-decoration: var(--txt-dec);
            color: var(--clr-white);
            display: inline;
        }
    }
}

/* main style */
main {
    h2 {
        text-align: var(--txt-alin);
    }
    .map {
        iframe {
            box-shadow: var(--bx-shadow);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            &:hover {
                transform: scale(1.02);
                box-shadow: var(--bx-shadow);
            }
        }
    }
}
footer {
    background-color: var(--clr-black);
    text-align: var(--txt-alin);
    color: var(--clr-white);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}